


.blog-post-content, .blog-post, .blog-container {
  display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.blog-post {
  width: 80vw;
  margin-bottom: 1vh;
  background-color: red;
}